<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NodeJS File Upload</title>
  </head>
  <body>
    <h1>File Upload</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <span>Upload a single file</span>
      <input type="file" name="mypic" required /> <br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
